body { FONT-FAMILY:  Verdana, sans-serif ;
	color: black; font-size:10pt;
	background-color: #ffffcc;
	background-color: #99ccff;
}

h2 { color: #000066 }
h1 { FONT-FAMILY:  Verdana, sans-serif;
	color: #000066; font-size:21; font-weight:bold; }

entry { FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: black; }

.menugrey { FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: darkgrey; }
A.menugrey:link { text-decoration: none } 
A.menugrey:visited { text-decoration: none }
A.menugrey:hover { FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; text-decoration: none }

.menuitem { FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; }

A.menuitem:link { text-decoration: none } 
A.menuitem:visited { text-decoration: none }
A.menuitem:hover { COLOR: red; text-decoration: none }

.mainheading { FONT-WEIGHT: bold; FONT-SIZE: 20pt; COLOR: #000066; }

A.mainheading:link { text-decoration: none; }
A.mainheading:visited { text-decoration: none; }
A.mainheading:hover { text-decoration: none; COLOR: red; }

.menuheading { FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: white; }

A.menuheading:link { text-decoration: none; }
A.menuheading:visited { text-decoration: none; }
A.menuheading:hover { text-decoration: none; COLOR: red; }

.menucurrent { FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #6b8ec6; }
A.menucurrent:link { text-decoration: none; }
A.menucurrent:visited { text-decoration: none; }
A.menucurrent:hover { text-decoration: none; COLOR: red; }

.s_menugrey { FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: darkgrey; }
A.s_menugrey:link { text-decoration: none } 
A.s_menugrey:visited { text-decoration: none }
A.s_menugrey:hover { FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; text-decoration: none }

.s_menuitem { FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: black; }

A.s_menuitem:link { text-decoration: none } 
A.s_menuitem:visited { text-decoration: none }
A.s_menuitem:hover { COLOR: red; text-decoration: none }

.s_menuheading { FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: black; }

A.s_menuheading:link { text-decoration: none; }
A.s_menuheading:visited { text-decoration: none; }
A.s_menuheading:hover { text-decoration: none; COLOR: red; }

.s_menucurrent { FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #6b8ec6; }
A.s_menucurrent:link { text-decoration: none; } A.s_menucurrent:visited {
	text-decoration: none; }
A.s_menucurrent:hover { text-decoration: none; COLOR: red; }

.debug { FONT-WEIGHT: bold; FONT-SIZE: 5; COLOR: black; }

A.debug:link { text-decoration: none;  visibility : visible  }
A.debug:visited { text-decoration: none;  visibility : visible }
A.debug:hover { text-decoration: none;  visibility : hidden }


td { text-align : left; vertical-align : middle ; }
img { border : 0 ; vertical-align : middle }
